body {
    background-color: #666666;
}

.punto {
    height: 20px;
    width: 20px;
    background-color: #76b53f;
    border-radius: 50%;
    display: inline-block;
}

.table-thead {
    border: hidden;
    color: #ffffff;
}

.table-tbody {
    color: #ffffff;
}